.header-sec{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;  
    background: $violet3;
    height: 104px;
    
    @include d(m){
    }    
    @include d(s){
        position: absolute;
        background: url("img/navbar_smaller.png")no-repeat center bottom;
        border: none; 
        width: 100%;
        height: 80px;
    }
    
    // menu hamburguer
    .mobile-btn{
        display: none;
        
        
        @include d(s){
            margin: -55px 10px 0px auto;
            display: block;
            color: $red;
            height: 36px;
            width: 26px;
            border-top: 3px solid;
            position: relative;
            cursor: pointer;
            -webkit-backface-visibility: hidden;
            
            &:before, &:after{
                content: '';
                display: block;
                color: $red;
                height: 3px;
                margin-top: 6px;
                background: currentColor;
                position: relative;
                transition: transform .3s ease;
            }            
        }
    }
    .mobile-btn.active {
        border-top-color: transparent;
    }

    .mobile-btn.active::after {
      margin-top: 0px;
      top: 2px;
      transform: rotate(45deg);
    }

    .mobile-btn.active::before {
      margin-top: 0px;
      top: 6px;
      transform: rotate(135deg);
    }
    
    .menu-mobile{
        background-color: rgba($violet2, 0.8);
        background: url("img/navbar_collapse.png")no-repeat center bottom;
        border: none;
        width: 100%;
        padding-bottom: 10px;
        
        @include d(l){
            display: none;
        }
        @include d(m){
            display: none;
        }    
        @include d(s){
            opacity: 0;
            visibility: hidden;
            text-align: center;
            margin-top: -5px;
            transform: translate3D(0, -50px, 0);
            transition: .3s;
        }
    }
  
    .menu-mobile li {
      line-height: 1.4em;
    }

    .menu-mobile.active {
      visibility: visible;
      opacity: 1;
       transform: translate3D(0, 0, 0);
    }
    //menu hamburguer 
    
    .sec-social{ 
        @include d(s){
            display:none;
        }
    }
} 
    .menu-logo{
        
        @include d(s){
            padding: 10px;
        }
        .brand-l{
            @include d(l){
                img{
                    padding-top: 10px;
                    margin: 0 auto;
                }
            }
            @include d(m){
                display: none;
            }
            @include d(s){
                display: none;
            }
        }
        .brand-m{
            img{
                padding-top: 15px;
            }
            @include d(l){
                display: none;
            }              
  
            @include d(s){
                display: none;
            }            
        }
        .brand-s{
            img{
                margin: 0 auto;
                display: block;
                
            }
            @include d(l){
                display: none;
            }
            @include d(m){
                display: none;
            }
        }
    }

    nav{
        padding-top: 20px;
        
        .menu-nav{
            @include d(m){
                text-align: center;
            }
            @include d(s){
                display: none;
            }
        }
        
        ul{
            @include d(s){
                margin: 0 auto;
                text-align: center;
            }
        }
        li{ 
            display: inline-block;
            position: relative;
            
            @include d(s){
                float: none; 
                text-align: center;
                margin: 1px;
            }
            @include d(m){
                text-align: left;
            }
            a{
                display: block;
                padding: 17px ;
                @include type-1(15);
                text-transform: uppercase;
                color: $white;
                @include transition-1;
                
                //media query
                @include d(m){
                    padding: 1px 10px;
                }
                @include d(s){
                    padding: 8px 20px;
                    color: $violet1;
                }
                //media query
                
                &:last-child{
                    @include d(s){}
                }
                &:hover, &:active{
                    color:$violet1;
                    @include transition-1;
                    
                    @include d(s){
                        background: transparent;
                        color: $yellow;
                    }
                }
                @include d(s){
                    a{}
                }
            }
            ul{
                position: absolute;
                display: none; 
                @include d(s){
                    margin-top: 5px;
                }
                
                li{
                    width: 170px;
                    height: 40px;
                    display: block;
                    background: $white;
                    padding: 5px;
                    margin: -5px;
                    border-radius: 5px;                    
                    -webkit-box-shadow: 12px 12px 12px -5px rgba(131,142,228,0.65);
                    -moz-box-shadow: 12px 12px 12px -5px rgba(131,142,228,0.65);
                    box-shadow: 12px 12px 12px -5px rgba(131,142,228,0.65);
                    
                    @include d(s){}
                              
                    a{
                        @include type-1(12);
                        color: $violet2;
                        padding: 5px;
                        
                        @include d(s){
                            text-align: left;
                            padding:0;
                        }
                        
                        &:hover, &:active{
                            color:$yellow;
                            
                            @include d(s){
                                background:$white;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
            &:hover ul{
                display: block;
                z-index: 100;       
            }
        }

    }    
    .menu-social{
        padding-top: 10px;
        //media query
        @include d(s){
            text-align: center;
            margin-top: -100px;
        }
        //media query
        li{
            display: inline-block;
            float: right;  
            
            @include d(s){
                float: none;
            } 
            
            a{
                display: block;
                padding: 17px 3px 10px 3px;
                
                //media query
                @include d(m){
                    padding-top: 20px;
                }
                //media query
                img{
                    @include transition-1;
                    &:hover, &:active{
                        @include opacity-1;
                        @include transition-1;
                    } 
                }
    
            }
        }
    }    


