.tag-contato{ 
    @include d(l){
        padding: 50px 0;
        background: url("img/bg-ligamos-para-voce.jpg") no-repeat center center;
    }

    //media query
    @include d(s){
        background: url("img/bg-ligamos-para-voce-m.jpg") no-repeat center center;
        margin: 50px 0 0 0;
        padding: 15px 0;
    }
    @include d(m){
        background: url("img/bg-ligamos-para-voce.jpg") no-repeat center center;
        margin:  0;
        padding: 30px 0;
    }    
    //media query
    
    h1{
        color:$white;
        @include type-3(32);
        strong{
            @include type-4(20);  
        }
        &::after{
            @include lineViolet2;
            background: $violet2;
            
            @include d(s){
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        
        @include d(s){
            text-align: center;
        }
    }
    h2{
        color: $white;
        width: 480px;
        padding-bottom: 20px;
        @include type-1(20);
        line-height: 1.20em;
        
        @include d(m){
            width:100%;
            @include type-1(18);
            line-height: 1.15em
        }
        @include d(s){
            width:100%;
            @include type-1(16);
            line-height: 1.15em
        }
    }
    p{
        color: $white;
        @include type-1(16);
        padding-bottom: 20px;
        small{
            @include type-3(14);
        }
        phone{
            @include type-5(24);
        }
        img {
            display: inline;
            padding-left: 15px;
            vertical-align:middle;
            @include transition-1;
            &:hover{
                @include opacity-1;
            }
        }
        @include d(s){
            text-align: center;
        }
    }

    .form-content{
        form{
            @include d(l){
                padding-top: 30px;
            }
            @include d(m){
                padding-top: 30px;
            }   
            
            @include d(s){
                text-align: center;
            }   
            input[type=submit]{
                margin: 15px 0;
                @include gradientButton1;
                @include pinkButton;
                @include rot135;
            } 
            input[type=text]{
                @include input-white;
                @include placeholder-orange;
                margin-bottom: 10px;
            }
 
            input[type=tel]{
                @include input-white;
                @include placeholder-orange;
                margin-bottom: 10px;
            }   
            input[type=email]{
                @include input-white;
                @include placeholder-orange;
                margin-bottom: 10px;
            }              
        }
    }

} 