.intro{
    background: url("img/sl-home.jpg") top center no-repeat;
    background-size: cover;
//    @include box-sizing; 
    height: 940px;
    
    @include d(m){
        background: url("img/sl-home-d_m.jpg") top center no-repeat;
        height:490px;
    }    
    @include d(s){
        background: url("img/sl-home-d_s.jpg") top center no-repeat;
        height:490px;
    }
}

.main-mobile{
    @include d(l){
        display: none;
    }

    @include d(m){
        // background: url("img/sl-home-d_m.jpg") top center no-repeat;
        // height:490px;
    }    
    @include d(s){
        background: url("img/sl-home-d_s.jpg") top center no-repeat;
        height:490px;
    }
}