@import "compass/css3";
 
.paralax-lojista {
    background: url("img/Lojista-bg.png") no-repeat center center;
//    background-size: cover;
}
 
 .paralax-lojista-form {
    background: url("img/Lojista-bg2.jpg") no-repeat center center;
//    background-size: cover;
}
  
.paralax-representante {
    background: url("img/representante-bg1.jpg") no-repeat center center;
//    background-size: cover;
}
 
 .paralax-representante-form {
    background: url("img/representante-bg2.jpg") no-repeat center center;
//    background-size: cover;
}
 
 .paralax-job {
    background: url("img/job-bg1.jpg") no-repeat center center;
//    background-size: cover;
}
 
 
 
